
                    <div class="row">
                    <div class="col-12 p-3">
                        <button routerLink="../new" type="button" class="btn btn-success float-right">
                            <i class="fa fa-plus"></i>
                            Novo
                        </button>
                    </div>
                    <div class="col-12 mat-container">
                        <div style="margin-bottom: 10px; background-color: white; width: fit-content; border-radius: 10px; padding-right: 10px; padding-left: 10px;">
                            <input type="text" style="border:none; border-radius: 10px;" [(ngModel)]="valor" (change)="applyFilter(valor)">
                            <i class="fa fa-search" (click)="applyFilter(valor)"></i>
                        </div>
                        <mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="nome">
                        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>>
                        <mat-cell *matCellDef="let usuarios"> {{usuarios.usu_nome}} </mat-cell>
                    </ng-container>
<ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>>
                        <mat-cell *matCellDef="let usuarios"> {{usuarios.usu_email}} </mat-cell>
                    </ng-container>
<ng-container matColumnDef="cpf">
                        <mat-header-cell *matHeaderCellDef> Cpf </mat-header-cell>>
                        <mat-cell *matCellDef="let usuarios"> {{usuarios.usu_cpf}} </mat-cell>
                    </ng-container>

                            <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>>
                    <mat-cell *matCellDef="let usuarios">   
                        <mat-button-toggle-group #group="matButtonToggleGroup" appearance="legacy" (change)="altera_status(usuarios.id, group.value)" name="fontStyle" aria-label="Font Style">
                            <mat-button-toggle [class]="(group.value == 1)?'btn-success':'btn-outline-success'" [checked]="usuarios.usu_statu == 1" value="1">Ativo</mat-button-toggle>
                            <mat-button-toggle [class]="(group.value == 0)?'btn-warning':'btn-outline-warning'" [checked]="usuarios.usu_statu == 0" value="0">Inativo</mat-button-toggle>
                        </mat-button-toggle-group> 
                    </mat-cell>
                </ng-container>
                            <ng-container matColumnDef="edita">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>>
                                <mat-cell *matCellDef="let usuarios"> 
                                    <button type="button" class="btn btn-outline-info m-r-5" [routerLink]="['/cadastros/usuarios/edit/', usuarios.id]">
                                        Editar
                                    </button>
                                    <button type="button" class="btn btn-outline-danger m-l-5" (click)="exclui(usuarios.id)">
                                        Excluir
                                    </button>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <ngb-pagination class="d-flex justify-content-start" [collectionSize]="pages" [(page)]="page" [pageSize]="pageSize"
                        (pageChange)="loadPage()" aria-label="Default pagination"></ngb-pagination>
                    </div>
                </div>